input[type="button" i] {
  border: none;
}

.main {
  position: relative;
}


#play-pause {
}

#name {
  font-size: 2rem;
}

.goodbye {
  display: none;
  transition: display 3000ms;
}

.load {
  position: relative;
  border: 1px solid red;
  font-size: 2rem;
  border-radius: 30px;
  padding: 5px 10px;
}

.invisible {
  font-size: 0rem;
  padding: 0;
  border: none;
  opacity: 0;
}

.hello {
  animation: wait 7500ms forwards;
  position: relative;
  border: 1px solid red;
  font-size: 2rem;
  border-radius: 30px;
  padding: 5px 10px;
}

@keyframes wait {
  0% {
    opacity: 0;
    z-index: -10;
    border: 1px solid red;
  }

  95% {
    z-index: -10;
    opacity: 0.5;
    border: 1px solid red;
  }

  100% {
    z-index: 10;
    opacity: 1;
    border: 3px solid green;
  }
}